@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 200px;
  }

  
  header{
    background-color: #000059;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 80%;
    top: 0;
    justify-content: space-between;
    display: flex;
    padding: 0% 10%;
    z-index: 1000;
  }
  
  .header-profile {
    display: flex;
    align-items:center;
    }
  
  .avatar{
    display: flex;
    align-items: left;
    justify-content: left;
    }
    
  nav ul{
    display: flex;
    align-items: right;
    justify-content: right;
    z-index: 1000;
  }
  
  nav ul a{
    display: block;
    padding: 30px 20px;
  }
  
  nav ul li {
    color: #DFE3EF;
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  nav ul li:hover {
    color: #00DBFF;
  }
  
  .section-home {
    background-image:url('assets/ceudestrelado.png');
    background-size: cover;
    background-position: center;
    padding: 14% 10%;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .apresentacao> h1 {
    color: #DFE3EF;
    font-family: 'Candal', sans-serif;
    font-size: 75px;
    line-height: normal;
   }
  
 .apresentacao> p {
   color: #DFE3EF;
   font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    line-height: normal;
  }

  .fotoperfil {
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .section-about {
    background-color: #DFE3EF;
    padding: 10% 10%;
    display:block;
    z-index: 1;
  }

  .about-content {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 1fr 1fr;
  }

  .janela img {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .sobre> .nomecompleto img{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .get-to-know-me> p {
    padding-top: 40px;
    font-size: 30px;
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    line-height: normal;
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .sobre> .seta {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 40px;
  }

  .section-skills {
    background-color: #F2F4F9;
    padding: 6% 5%;
    text-align: center;
  }

  .habilidades> h1 {
    color: #8D95FF;
    font-family: 'Candal', sans-serif;
    font-size: 75px;
    margin-bottom: 90px;
  }

  .conjunto {
    display:block;
    display: grid;
    column-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .ux> h3 {
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .ux> p {
    color: #8D95FF;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
  }

  .front> h3 {
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .front> p {
    color: #8D95FF;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
  }

  .grafico> h3 {
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
  }

  .grafico> p {
    color: #8D95FF;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
  }
  
  .section-project {
    background-color: #DFE3EF;
    padding: 8% 10%;
    display:block;
  }
  
  .projeto> h1 {
    color: #8D95FF;
    font-family: 'Candal', sans-serif;
    font-size: 75px;
    text-align: center;
  }

  .projects {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
  }

  .projects2 {
    display: grid;
    column-gap: 1px;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
  }

  .projects> .phone-case1 {
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .projects2> .phone-case2 {
    display: flex;
    align-items: right;
    justify-content: right;
  }

  .project-description> .title {
    margin-bottom: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description1> p {
    padding-bottom: 40px;
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    line-height: normal;
    width: 830px;
    
  }

  .description1> h3{
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-top: 15px; 
  }

  .description1> h3:hover {
    color: #8D95FF;
  }

  .description2> p {
    padding-bottom: 40px;
    color: #242915;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
    line-height: normal;
    width: 830px;
    
  }

  .description2> h3{
    color: #242915;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-top: 15px; 
  }

  .description2> h3:hover {
    color: #8D95FF;
  }

  .section-contact {
    background-color: #F2F4F9;
    padding: 1% 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-contact> h1{
    color: #8D95FF;
    font-family: 'Candal', sans-serif;
    font-size: 75px;
    margin-bottom: 25px;
    margin-top: 75px;
  }

  .contato {
    position: relative;
  }

  .contato> a{
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icons img {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: 50px;
  }

  .footer-bottom {
    background-color: #F2F4F9;
    padding: 1% 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-bottom span{
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
  }

  .footer-bottom a{
    color: #000059;
    font-family: 'Space Grotesk', sans-serif;
  }


  @media screen and (min-width: 300px) and (max-width: 500px) {
    
    main{
    min-width: 320px;
    max-width: 500px;
    }

    header{
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      position: fixed;
      min-width: 320px;
      max-width: 500px;
      width: 0px;
      top: 0;
      justify-content: space-between;
      display: flex;
      padding: 0% 5%;
      z-index: 1000;
    }
    
    .header-profile {
      display: flex;
      align-items:center;
      margin-left: 15px;
      }

    .avatar img{
      width: 60px;
      }
      
    nav ul{
      z-index: 1000;
      margin-right: 15px;
    }
    
    nav ul a{
      display: block;
      padding: 20px 5px;
    }
    
    nav ul li {
      font-size: 8px;
    }
    
    nav ul li:hover {
      color: #00DBFF;
    }

    .section-home {
      background-image:url('assets/ceudestrelado.png');
      background-size: cover;
      background-position: center;
      flex-direction: column-reverse;
      padding: 50% 5%;
      display: flex;
      text-align: center;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }

    .apresentacao> h1 {
      font-size: 25px;
      width: 280px;
      margin: auto;
     }
    
   .apresentacao> p {
      font-size: 12px;
      width: 300px;
      margin: auto;
    }
  
    .fotoperfil {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fotoperfil img{
      width: 260px;
      padding-bottom: 30px;
    }


    

    .section-about {
      padding: 20% 5%;
      display: block;
      z-index: 1;
    }
  
    .about-content {
      flex-direction: column-reverse;
      display: flex;
      column-gap: 1px;
      grid-template-columns: 1fr 1fr;
    }
  
    .janela {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .janela img{
      width: 300px;
    }

    .sobre> .nomecompleto{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .sobre> .nomecompleto img{
      width: 260px;
      padding-top: 0px;
    }
    
    .get-to-know-me> p {
      padding-top: 15px;
      font-size: 12px;
      display: flex;
      align-items: left;
      justify-content: left;
      width: 270px;
      margin: auto;
    }
  
    .sobre> .seta {
      display: flex;
      align-items: right;
      justify-content: right;
      padding-top: 0px;
    }

    .sobre> .seta img{
      width: 28px;
      padding-bottom: 5px;
    }
  


    .section-skills {
      padding: 25% 5%;
      text-align: center;
    }
  
    .habilidades> h1 {
      font-size: 25px;
      margin-bottom: 50px;
    }
  
    .conjunto {
      flex-direction: column;
      display: flex;
      column-gap: 1px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .ux img{
      width: 100px;
    }
    
    .ux> h3 {
      font-size: 17px;
      margin-bottom: 5px;
    }
  
    .ux> p {
      font-size: 12px;
      padding-bottom: 30px;
    }

    .front img {
      width: 100px;
    }
  
    .front> h3 {
      font-size: 17px;
      margin-bottom: 5px;
    }
  
    .front> p {
      font-size: 12px;
      padding-bottom: 30px;
    }

    .grafico img {
      width: 100px;
    }
  
    .grafico> h3 {
      font-size: 17px;
      margin-bottom: 5px;
    }
  
    .grafico> p {
      font-size: 12px;
      padding-bottom: 30px;
    }





    .section-project {
      padding: 25% 5%;
      display:block;
    }
    
    .projeto> h1 {
      font-size: 25px;
    }
  
    .projects {
      display: flex;
      flex-direction: column-reverse;
      column-gap: 1px;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
    }

    .projects2 {
      display: flex;
      flex-direction: column;
      column-gap: 1px;
      grid-template-columns: 1fr 1fr;
      margin-top: 70px;
    }
  
    .projects> .phone-case1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .projects> .phone-case1 img{
      width: 260px;
      margin-bottom: 50px;
    }
  
    .projects2> .phone-case2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .projects2> .phone-case2 img{
      width: 260px;
      margin-bottom: 50px;
    }
  
    .project-description> .title {
      margin-bottom: 10px; 
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .project-description> .title img{
      width: 260px;
    }
  
    .description1> p {
      padding-bottom: 40px;
      font-size: 12px;
      width: 280px;
      margin: auto;
      padding: 10px 0px;
    }
  
    .description1> h3{
      font-size: 17px;
      margin-top: 10px; 
      margin-bottom: 20px;
    }
  
    .description1> h3:hover {
      color: #8D95FF;
    }
  
    .description2> p {
      padding-bottom: 40px;
      font-size: 12px;
      width: 280px;
      margin: auto;
      padding: 10px 0px;
      
    }
  
    .description2> h3{
      font-size: 17px;
      margin-top: 10px; 
      margin-bottom: 20px;
    }



    
    .section-contact {
      padding: 10% 5%;
    }
  
    .section-contact> h1{
      font-size: 25px;
      margin-bottom: 25px;
      margin-top: 50px;
    }

    .contato img {
      width: 300px;
    }
  
    .contato> a{
      font-size: 15px;
      margin-bottom: 25px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icons img {
      width: 25px;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 25px;
      margin-top: 20px;
    }

    .footer-bottom span{
      font-size: 10px;
    }
  
    .footer-bottom a{
      font-size: 10px;
    }

  }


  @media screen and (min-width: 1100px) and (max-width: 1700px) {

    .avatar img{
        width: 150px;
      }

      nav ul li {
        font-size: 20px;
      }


      
      .apresentacao> h1 {
        font-size: 50px;
       }
      
     .apresentacao> p {
        font-size: 21px;
      }
    
      .fotoperfil img{
        width: 400px;
      }




    .janela img {
      width: 430px;
    }

    .sobre> .nomecompleto img{
      width: 580px;
    }

    .get-to-know-me> p {
      padding-top: 32px;
      font-size: 21px;
    }

    .sobre> .seta img{
      width: 60px;
    }



  
    .habilidades> h1 {
      font-size: 50px;
      margin-bottom: 50px;
      margin-top: 20px;
    }

    .ux> img{
      width: 170px;
    }
  
    .ux> h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }
  
    .ux> p {
      font-size: 21px;
    }
  
    .front>img{
      width: 170px;
    }

    .front> h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }
  
    .front> p {
      font-size: 21px;
    }

    .grafico> img{
      width: 170px;
    }
  
    .grafico> h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }
  
    .grafico> p {
      font-size: 21px;
    }
    

  
    .projeto> h1 {
      font-size: 50px;
    }

    .projects {
      margin-top: 150px;
    }

    .projects2{
      margin-top: 150px;
    }

    .projects> .phone-case1 img{
      width: 430px;
    }
  
    .projects2> .phone-case2 img{
      width: 430px;
    }
  
    .project-description> .title img{
      width: 350px;
    }

    .description1> p {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 21px;
      width: 600px;
    }
  
    .description1> h3{
      font-size: 30px;
      margin-top: 60px; 
    }
  
    .description2> p {
      padding-top: 20px;
      padding-bottom: 10px;
      font-size: 21px;
      width: 600px;
    }
  
    .description2> h3{
      font-size: 30px;
      margin-top: 60px; 
    }




  
    .section-contact> h1{
      font-size: 50px;
      margin-bottom: 5px;
      margin-top: 75px;
    }
  
    .contato img {
      width: 450px;
    }

    .contato> a{
      font-size: 25px;
      margin-bottom: 25px;
    }

    .icons img {
      width: 40px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 25px;
      margin-top: 30px;
    }
  
}






@media screen and (min-width: 1700px) and (max-width: 2000px) {

  .avatar img{
   width: 200px;
    }

    nav ul li {
      font-size: 25px;
    }


    
    .apresentacao> h1 {
      font-size: 60px;
     }
    
   .apresentacao> p {
      font-size: 23px;
    }
  
    .fotoperfil img{
      width: 500px;
    }




  .janela img {
    width: 500px;
  }

  .sobre> .nomecompleto img{
    width: 650px;
  }

  .get-to-know-me> p {
    padding-top: 32px;
    font-size: 23px;
  }

  .sobre> .seta img{
    width: 80px;
  }




  .habilidades> h1 {
    font-size: 60px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .ux> img{
    width: 180px;
  }

  .ux> h3 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .ux> p {
    font-size: 23px;
  }

  .front>img{
    width: 180px;
  }

  .front> h3 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .front> p {
    font-size: 23px;
  }

  .grafico> img{
    width: 180px;
  }

  .grafico> h3 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .grafico> p {
    font-size: 23px;
  }
  


  .projeto> h1 {
    font-size: 60px;
  }

  .projects {
    margin-top: 150px;
  }

  .projects2 {
    margin-top: 150px;
  }


  .projects> .phone-case1 img{
    width: 500px;
  }

  .projects2> .phone-case2 img{
    width: 500px;
  }

  .project-description> .title img{
    width: 400px;
  }

  .description1> p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 23px;
    width: 600px;
  }

  .description1> h3{
    font-size: 35px;
    margin-top: 60px; 
  }

  .description2> p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 23px;
    width: 600px;
  }

  .description2> h3{
    font-size: 35px;
    margin-top: 60px; 
  }





  .section-contact> h1{
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 75px;
  }

  .contato img {
    width: 550px;
  }

  .contato> a{
    font-size: 30px;
    margin-bottom: 25px;
  }

  .icons img {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 50px;
  }

}

